
@{
    ViewBag.Title = "Producto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Productos</li>
</ol>

<div class="card">
    <div class=" = card-header">
        <i class="fas fa-shopping-basket"></i>  Lista de Productos
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="abrirModal(null)">Agregar nuevo producto</button>
            </div>
        </div>

        <hr />

        <table id="tabla" class="display cell-border" style="width: 100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Marca</th>
                    <th>Categoria</th>
                    <th>Precio</th>
                    <th>Stock</th>
                    <th>Activo</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            <tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header bg-dark text-white">
                <h5 class="modal-title" id="exampleModalLabel">Producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @*Cambiar "text" a hidden*@
                <input id="txtId" type="text" value="0" />

                <form id="Contenedor" class="row">

                    <div class="col-sm-3">
                        <div class="mb-2">
                            <img id="img_producto" height="197" width="200" class="border rounded mx-auto d-block img-fluid" />
                        </div>
                        <div class="mb-2">
                            <input class="form-control" type="file" id="fileProducto" accept="image/png, image/jpg, image/jpeg" onchange="MostrarImagen(this)" />
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Nombre</label>
                            <input type="text" class=" form-control" id="txtNombre" name="Nombre" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Descripcion</label>
                            <textarea type="text" class=" form-control" id="txtDescripcion" name="descripcion" style="height:125px;resize:none"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Marca</label>
                            <select id="cboMarca" class="form-select"></select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">categoria</label>
                            <select id="cbocategoria" class="form-select"></select>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Precio</label>
                            <input type="text" class="form-control" idtxt="txtPrecio" name="Precio" autocomplete="off"/>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mb-3">
                            <label class="form-label">Stock</label>
                            <input type="number" class=" form-control" id="txtstock" name="stock" />
                        </div>

                        <div class="mb-3">
                            <label class="form-label">activo</label>
                            <select id="cboActivo"class="form-select">
                                <option value="1">Si</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>


                </form>
            </div>

            @*Mensaje de error*@

            <div class="row mt-3">
                <div class="col-12">

                    <div id="mensajeError" class="alert alert-danger" role="alert">
                        A simple danger alert—check it out!
                    </div>

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var filaSeleccionada;
        var tabladata;

        function MostrarImagen(input) {
            if (input.files) {

                var reader = new FileReader();
                reader.onload = function (e) {
                    $("#img_producto").attr("src",e.target.result).width(200).height(197)
                }
                return reader.readAsDataURL(input.files[0]);
            }
        }
        

         //creacion de la tabla
        tabladata = $("#tabla").DataTable({
            responsive: true,
            ordering: false,
            "ajax": {
                url: '@Url.Action("ListarProducto", "Mantenedor")',
                type: "GET",
                datatype: "json",
            }, 
           
            "columns": [
                { "data": "prod_Nombre" },
                { "data": "prod_Descripcion" },
                {
                    "data": "prod_marc_ID", "render": function (data) {
                        return data.marc_Descripcion;
                    }
                },
                {
                    "data": "prod_cate_ID", "render": function (data) {
                        return data.cate_Descripcion
                    }
                },
                
                { "data": "prod_Precio" },
                { "data": "prod_Stock" },

                {
                    "data": "prod_Activo", "render": function (valor) {
                        if (valor) {

                            return '<span class="badge bg-success">Si</span>'

                        } else {

                            return '<span class="badge bg-danger">No</span>'

                        }
                    }
                },
                {
                    //Botones de la tabla
                    "defaultContent": '<button type="button" class="btn btn-primary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        '<button type="button" class="btn btn-danger btn-sm ms-1 btn-Eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "60px"
                }
            ],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/2.1.3/i18n/es-MX.json"
            }
        });

        jQuery.ajax({
            url: '@Url.Action("ListarMarca", "Mantenedor")',
            type: "GET",
            Data: null,
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            success: function (data) {

                $("<option>").attr({ "value": "0", "disabled": "true" }).text("seleccionar").appendTo("#cboMarca");

                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value": item.marc_ID }).text(item.marc_Descripcion).appendTo("#cboMarca");
                })
            }
        });

        jQuery.ajax({
            url: '@Url.Action("ListarCategoria", "Mantenedor")',
            type: "GET",
            Data: null,
            datatype: "json",
            contentType: "application/json; charset-utf-8",
            success: function (data) {
                $("<option>").attr({ "value": "0", "disabled": "true" }).text("seleccionar").appendTo("#cbocategoria");
                $.each(data.data, function (index, item) {
                    $("<option>").attr({ "value": item.cate_ID }).text(item.cate_Descripcion).appendTo("#cbocategoria");
                })
            }
        });



        // json = var
        function abrirModal(json) {


            $("#txtId").val(0);
            $("#txtdescripcion").val("");
            $("#cboactivo").val(1);
            $("#img_producto").removeAttr("src");
            $("#fileProducto").val("");
            $("#txtNombre").val("");
            $("#txtDescripcion").val("");
            $("#cboMarca").val($("#cboMarca option:first").val());
            $("#cbocategoria").val($("#cboMarca option:first").val());
            $("#txtstock").val("");
            $("#txtPrecio").val("");






            $("#mensajeError").hide();

            if (json != null) {

                $("#txtId").val(json.prod_ID);
                $("#txtNombre").val(json.marc_Nombre);
                $("#txtdescripcion").val(json.marc_Descripcion);
                $("#cboMarca").val(json.oMarca.marc_ID);
                $("#cbocategoria").val(json.oCategoria.cate_ID);
                $("#txtstock").val(json.prod_Stock)
                $("#txtPrecio").val(json.prod_Precio)

                $("#cboactivo").val(json.prod_ID == true ? 1 : 0 );

            }

            $("#FormModal").modal("show");

        }
         //Si se preciona el boton editar dentro de la tabla, pasa:
        $("#tabla tbody").on("click", '.btn-editar', function () {

            filaSeleccionada = $(this).closest("tr");

            //BORRAR (mostrar datos en la consola)
            console.log(tabladata.row(filaSeleccionada).data());

            var data = tabladata.row(filaSeleccionada).data();

            //Abre el abrir modal pasando la informacion de las tablas
            abrirModal(data)

        });
        $("#tabla tbody").on("click", '.btn-Eliminar', function () {

            var Marcaseleccionada = $(this).closest("tr");

            var data = tabladata.row(Marcaseleccionada).data();

            swal({
                title: "¿Estas seguro?",
                text: "No podras recuperar este producto!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Eliminar!",
                cancelButtonText:"No",
                closeOnConfirm: true
            },
                function () {

                    jQuery.ajax({

                        url: '@Url.Action("EliminarMarca", "Mantenedor")',
                        type: "POST",
                        data: JSON.stringify({ marc_ID: data.marc_ID }),
                        datatype: "json",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {

                            if (data.resultado) {

                                tabladata.row(Marcaseleccionada).remove().draw();

                            } else {

                                swal("no se puede eliminar", data.Mensaje, "Error");

                            }
                        },
                        error: function (error) {
                            console.log(error);
                        },
                    });
                });
        });
        function Guardar() {

            var imagenSeleccionada = $("#fileProduct")[0].files[0];

            var Producto = {

                prod_ID: $("#txtId").val() == 1 ? true: false,
                prod_Nombre: $("#txtNombre").val(),
                prod_Descripcion: $("#txtdescripcion").val(),

                oMarca: {
                    marc_ID: $("#cboMarca option:selected").val(),
                    marc_Descripcion: $("#cboMarca option:selected").val()

                },
                oCategoria:{
                    cate_ID: $("#cboCategoria option:selected").val(),
                    cate_Descripcion: $("#cboCategoria option:selected").val()

                },
                prod_precioTexto: $("#txtPrecio").val(),
                prod_Activo: $("#cboActivo").val(),
                prod_Stock: $("txtStock")
            }


            var request = new FormData();
            request.append("Objeto",JSON.stringify(Producto))
            request.append(archivoImagen,imagenSeleccionada)

            jQuery.ajax({

                url: '@Url.Action("GuardarProducto", "Mantenedor")',
                type: "POST",
                data: request,
                processData: false,
                contentType: false,

                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");

                    //NUEVO Producto
                    if (Producto.prod_ID == 0) {

                        if (data.resultado != 0) {

                            Producto.prod_ID = data.idProductoGenerado;
                            tabladata.row.add(Producto).draw(false);
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.Mensaje);
                            $("#mensajeError").show();
                            $(".modal-body").LoadingOverlay("hide");
                        }
                    //EDITAR producto
                    } else {
                        if (data.operacionExitosa == true) {
                            tabladata.row(filaSeleccionada).data(Producto).draw(false);
                            filaSeleccionada = null;
                            $("#FormModal").modal("hide");
                        } else {
                            $("#mensajeError").text(data.Mensaje);
                            $("#mensajeError").show();
                            $(".modal-body").LoadingOverlay("hide");
                        }

                    }
                },

                error: function () {
                    $(".modal-body").LoadingOverlay("hide");
                    $("#mensajeError").text("Error Ajax");
                    $("#mensajeError").show();
                },
                beforeSend: function () {
                    $(".modal-body").LoadingOverlay("show",{
                        imageResizeFactor: 2,
                        text: "En Proceso . . .",
                        size: 14
                    })
                }
            });
        }

    </script>
}

